<br>
<p>Mood: <%= @user.mood %></p>
<br>
<p>Height: <%= @user.height %></p>
<br>
<p>Tickets: <%= @user.tickets %></p>
<br>
<p>Status: CUSTOMER</p>
<br>
<%= link_to "See attractions", attractions_path %>