<li><label>Name: </label><%= user.name %></li>
<li><label>Mood: </label><%= user.mood %></li>
<li><label>Tickets: </label><%= user.tickets %></li>
<li><label>Height (in.): </label><%= user.height %></li>